@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.range-left,
.range-right {
  position: absolute;
  height: 16px;
  appearance: none;
  background: transparent;
}

/* LEFT input only captures left side */
.range-left {
  left: 0;
  width: 50%;
  z-index: 3;
}

/* RIGHT input only captures right side */
.range-right {
  right: 0;
  width: 50%;
  z-index: 4;
}

/* Hide tracks */
.range-left::-webkit-slider-runnable-track,
.range-right::-webkit-slider-runnable-track {
  background: transparent;
}

.range-left::-moz-range-track,
.range-right::-moz-range-track {
  background: transparent;
}

/* Thumbs */
.range-left::-webkit-slider-thumb,
.range-right::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ec4899;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.range-left::-moz-range-thumb,
.range-right::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ec4899;
  cursor: pointer;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
